.intro{
  background-color:#E4F9F5;
  margin:0;
  padding-top: 250px;
}
body{
  margin: 0;
  text-align: center;
}
h1{
  margin:0;
}
.topcloud{
  position: absolute;
  width:200px;
  right: 200px;
  top:20px;
 }
.bottomcloud{
  width:200px;
  position: absolute;
left: 200px;
}
.brunoop{
  width: 700px;

}
.yatharth{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #6EBFBF;
    line-height: 2
}
.aprogrammer{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #6EBFBF;
}
.hlo-img{
  height:300px;
  width: 300px;
  border-radius: 50%;
}
.text-hlo{
    font-family: 'Montserrat', sans-serif;
color: #11999E;
font-size: 2em;
}
hr{
  border-style: dotted;
  border-top: 100px;
  color: #E9EBF8;
  width: 4%;
  border-width: 10px;
  margin-left: auto;
margin-right: auto;
}
.My-skills{
    font-family: 'Lobster', cursive;
    color: #11999E;
    font-size: 4em;
    font-weight: normal;
}
.media-giphy{
  height:200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 550px;
  bottom: 35px;
}
.design{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
.designanddevelopment{
  margin-top: 100px;
  margin-bottom: 150px;
}
.gaming-text{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
.gaming-giphy{
  height:200px;
  width: 200px;
  border-radius: 50%;
  float: right;
  position: relative;
  right: 550px;
  bottom: 35px;
}
.bottom-hr{
  margin-top: 100px;
}
.getintouch-text{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    margin-top: 50px;
    font-size: 3rem;
}
.getintouch{
  color: #66BFBF;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 100px;
}

.btn:hover {
  background: #3c3cfc;
  background-image: -webkit-linear-gradient(top, #3c3cfc, #d134d9);
  background-image: -moz-linear-gradient(top, #3c3cfc, #d134d9);
  background-image: -ms-linear-gradient(top, #3c3cfc, #d134d9);
  background-image: -o-linear-gradient(top, #3c3cfc, #d134d9);
  background-image: linear-gradient(to bottom, #3c3cfc, #d134d9);
  text-decoration: none;
}
.invitation{
  margin-bottom: 50px;
}
.ending{
  margin-top: 100px;
  background-color: #66BFBF;
  height: 100px;
}
.sskin-city{
    font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #11999E;
margin: 10px 20px 10px 20px;
}
.youtube{
  font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #11999E;
margin: 10px 20px 10px 20px;
}
.instagram{
  font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #11999E;
margin: 10px 20px 10px 20px;
}
.sskin-city:hover{
  color: white;
}
.youtube:hover{
  color: white;
}
.instagram:hover{
  color: white;
}
.copyright{
  color: #EAF6F6;
}
